<div class="hero_area">
    <header class="header_section">
      <app-header></app-header>
    </header>
    <!-- slider section -->
    <section class="slider_section ">
      <app-slider-header></app-slider-header>
    </section>
    
    <!-- end slider section -->
  </div>
  
  <!-- about section -->
  
  <section class="about_section layout_padding">
    <app-home></app-home>
  </section>
  
  <!-- end about section -->
  
  <!-- portfolio section -->
  
  <section class="portfolio_section ">
   <app-slider-portfolio></app-slider-portfolio>
  </section>
  
  <!-- end portfolio section -->
  
  <!-- service section -->
  
  <section class="service_section layout_padding">
  <app-services></app-services>
  </section>
  
  <!-- end service section -->
  <!-- StartBlog -->
  
  <section class="section" id="blog">
  <app-blog></app-blog>
  </section>
  
  <!-- EndBlog -->
  
  
  <!-- info section -->
  
  <section class="info_section ">
  <app-footer></app-footer>
  </section>
  
  <!-- end info section -->
  
  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="#">Ehsan_techno</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->
  
  
