<div class="container ">
    <div class="heading_container heading_center">
      <h2>خدمات <span>ما</span></h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="box ">
          <div class="img-box">
            <img src="../assets/images/s1.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>
              تعمیر و نگهداری پنجره و در آلمینیومی
            </h5>
            <p>
              این خدمات شامل تعمیر و نگهداری پنجره و در آلمینیومی برای اطمینان از عملکرد صحیح آنها است. تعمیرات پنجره و در آلمینیومی می‌تواند شامل تعویض شیشه، دستگیره، لولا و سایر قطعات باشد.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box ">
          <div class="img-box">
            <img src="../assets/images/s2.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>
              نصب پنجره و در آلمینیومی
            </h5>
            <p>
              این خدمات شامل نصب پنجره و در آلمینیومی در محل مورد نظر است. نصب پنجره و در آلمینیومی باید توسط یک متخصص انجام شود تا از نصب صحیح و ایمن آنها اطمینان حاصل شود.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box ">
          <div class="img-box">
            <img src="../assets/images/s3.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>
              تولید پنجره و در آلمینیومی
            </h5>
            <p>
              این خدمات شامل طراحی، تولید و نصب پنجره و در آلمینیومی است. پنجره و در آلمینیومی، دارای مزایای زیادی نسبت به سایر انواع پنجره و در مانند پنجره و در چوبی یا پنجره و در UPVC هستند. این مزایا شامل مقاومت در برابر خوردگی، استحکام، سبکی و عایق حرارتی و صوتی بهتر هستند.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box ">
          <div class="img-box">
            <img src="../assets/images/s4.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>
              مشاوره در مورد انتخاب پنجره و در آلمینیومی مناسب
            </h5>
            <p>
              این خدمات شامل مشاوره در مورد نوع پنجره و در آلمینیومی مناسب برای ساختمان شما است.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box ">
          <div class="img-box">
            <img src="../assets/images/s5.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>
              طراحی پنجره و در آلمینیومی سفارشی
            </h5>
            <p>
              این خدمات شامل طراحی و تولید پنجره و در آلمینیومی سفارشی با توجه به نیازهای شما است.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box ">
          <div class="img-box">
            <img src="../assets/images/s6.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>
              فروش و نصب پنجره و در آلمینیومی یو پی وی سی
            </h5>
            <p>
              برخی از پنجره سازی و در سازی های آلمینیومی، پنجره و در آلمینیومی یو پی وی سی را نیز ارائه می‌دهند.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
