<div class="info_container layout_padding2">
    <div class="container">
      <div class="info_logo">
        <a class="navbar-brand" href="index.html"> Alumtek<span>Khorasan</span> </a>
      </div>
      <div class="info_main">
        <div class="row">
          <div class="col-md-3 col-lg-2">
            <div class="info_link-box">
              <h5>
                لینک مفید
              </h5>
              <ul>
                <li class=" active">
                  <a class="" href="index.html">خانه <span class="sr-only">(current)</span></a>
                </li>
                <li class="">
                  <a class="" href="about.html">درباره ما </a>
                </li>
                <li class="">
                  <a class="" href="service.html">سرویس ها </a>
                </li>
                <li class="">
                  <a class="" href="portfolio.html"> نمونه کارها </a>
                </li>
                <li class="">
                  <a class="" href="contact.html"> تماس با ما </a>
                </li>
              </ul>
            </div>
          </div>
         
          <div class="col-md-3 mx-auto  ">
            <h5>
              social media
            </h5>
            <div class="social_box">
              <a href="" class="text-decoration-none ">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="" class="text-decoration-none ">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="" class="text-decoration-none ">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="" class="text-decoration-none ">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <h5>
              آلمینیوم آلومتک
            </h5>
            <h6>
                خانه شما، محل زندگی شماست. ما آن را زیباتر می‌کنیم.
            </h6>
          </div>
        </div>
      </div>
      <div class="info_bottom">
        <div class="row">
          <div class="col-lg-9">
            <div class="info_contact ">
              <div class="row">
                <div class="col-md-3">
                  <a href="https://goo.gl/maps/5qjyYwMZQeTrJ4Rz6"  class="link-box">
                    <i class="fa fa-map-marker" aria-hidden="true">
                    </i>
                    <span class="mr-1">
                      آدرس
                    </span>
                  </a>
                </div>
                <div class="col-md-5 ">
                  <a href="tel:+989123456789"  class="link-box">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span class="mr-1">
                     09332725515
                    </span>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="https://t.me/Ehsan_techno"  class="link-box blank">
                    <i class="fa fa-telegram" aria-hidden="true"></i>
                    <span class="mr-1">
                      demo@gmail.com
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_form ">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>