<div class="container  ">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>به وب سایت در و پنجره سازی<span> آلومتک </span>خوش آمدید</h2>
          </div>
          <p>
            ما با بیش از [تعداد] سال سابقه در زمینه تولید و نصب در و پنجره‌های آلومینیومی، مفتخریم که خدمات خود را به شما ارائه دهیم.

            در و پنجره‌های ما با استفاده از بهترین متریال و با بهره‌گیری از دانش و تجربه متخصصان ما تولید می‌شوند. ما در تلاش هستیم تا با ارائه محصولات با کیفیت و قیمت مناسب، رضایت شما را جلب کنیم.
            
            شما می‌توانید با مراجعه به بخش‌های مختلف سایت ما، از محصولات و خدمات ما بیشتر آشنا شوید. همچنین می‌توانید با کارشناسان ما تماس بگیرید تا از مشاوره و راهنمایی‌های آنها بهره‌مند شوید.
            
            امیدواریم که بتوانیم با همکاری شما، خانه‌های شما را زیباتر و ایمن‌تر کنیم.
          </p>

        </div>
      </div>
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="../assets/images/about-img.png" alt="" />
        </div>
      </div>
    </div>
  </div>

