
    <div id="customCarousel1" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="detail-box">
              <h1>
                در و پنجره‌های ما<br />
                با دوام و ماندگار هستند.
              </h1>
              <div class="btn-box">
                <a href="" class="btn1 text-decoration-none ">
                  بیشتر
                </a>
                <a href="" class="btn2 text-decoration-none">
                  تماس با ما
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="detail-box">
              <h1>
                در و پنجره‌های ما<br />
                با قیمت مناسب و کیفیت بالا.
              </h1>
              <div class="btn-box">
                <a href="" class="btn1">
                  Read More
                </a>
                <a href="" class="btn2">
                  Contact Us
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="detail-box">
              <h1>
                در و پنجره‌های ما<br />
                انتخابی مطمئن برای خانه شما 
              </h1>
              <div class="btn-box">
                <a href="" class="btn1">
                 بیشتر
                </a>
                <a href="" class="btn2">
                  تماس با ما
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

<!--     
    <ngx-typed-js class="text-center" [showCursor]="false" [strings]="['در و پنجره‌های ماانتخابی مطمئن برای خانه شما ','در و پنجره‌های ما با قیمت مناسب و کیفیت بالا.','در و پنجره‌های ما با دوام و ماندگار هستند.']" [loop]="true" [typeSpeed]="100" [shuffle]="true">
      <h1 class="typing"></h1>
      </ngx-typed-js> -->
      
